// Тут расположите основные стили для layout app.blade.php
@import "../import";

@import "~bootstrap/scss/reboot";

body {
    font-size: 1rem;
    line-height: 1.4;

    /**
    Нужно, чтобы прижать футер к нижней части экрана
     */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: $body-color;
}

/**
Нужно, чтобы прижать футер к нижней части экрана
 */
main {
    flex: 1 0 auto;
}

/**
Нужно, чтобы прижать футер к нижней части экрана
 */
footer, nav, header {
    flex-shrink: 0;
}

.welcome-example {
    font-size: 2rem;
    text-align: center;
}

.container {
    @include make-container();
}
